#navbar {
    direction: rtl;
    padding: 10px;
}
#google-page {
    padding-top: 26vh;
    text-align: center;
}
#input-form {
    position: relative;
    padding: 25px;
}
#searchbox {
    width: 550px;
    height: 40px;
    border-radius: 25px;
    color: cornsilk;
    border: 1px solid;
    border-color: rgb(223,225,229);
}
#searchbar {
    text-align: center;
}

.lucky {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f8f9fa;
    color: black;
    font-family: arial, sans-serif;
    margin: 11px 4px;
}
a {
    text-decoration: none;
}
.links {
    color: black;
    font-family: arial, sans-serif;
    padding: 5px;
    font-size: 13px;
}
#sign-in {
    color: white;
    font-size: 13px;
    background-color: rgb(32, 95, 212);
    padding: 10px;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
footer {
    position: fixed;
    padding: 10px;
    background-color: rgb(248, 248, 248);
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 15px;
    font-family: arial, sans-serif;
}
#langs {
    padding: 20px;
    font-size: 14px;
}
.foot {
    padding: 10px;
    border: 2px;
    color:rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid #dadce0;
}
.ending {
    padding: 10px;
    color: black;
}